body{
    margin: 0;
    height: 100vh;
    width: 100vh;
    display:flex; 
    justify-content: center;
    align-items: center;
    
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

/* .searchcontainer{
    display: flex;
    justify-content: space-between;
    gap:3px;
    height: 50%;
    width: 100%;
} */

.searchcontainer input{
    margin-right: 5px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    font-size: large;
}

.searchcontainer button{
    width: 40px;
    height: 35px;
    border-radius: 10px;
}

.test{
    width: 200px;
    height: 100px;
    border: solid;
    background-color: bisque;
    border-radius: 20px;
}
.gridcontainer{
    border: solid 5px green;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
}
.gridcontainer div{
    border: solid red;
}
.item1{
    grid-column-start: 2;
    grid-column-end: 4;
}
.item2{
    grid-area: 2/1/2/5;
    z-index: 1;
    /* background-color: aqua; */
}
.item3{
    grid-area: 2/4/3/5;
}
.item4{
    grid-area: 4/1/6/3;
}
.item5{
    grid-area: 4/3/5/4;
}
.item6{
    grid-area: 5/3/5/5;
}